body {
  background-color: #0F112C;
}

#heightbutton circle:hover, #heighthover circle:hover, #heightclick circle:hover, #heighton, #diameterbutton circle:hover, #diameterhover circle:hover, #diameterclick circle:hover, #diameteron, #colorbutton circle:hover, #colorhover circle:hover, #colorclick circle:hover, #coloron {
  cursor: pointer;
}

.tooltip{
  margin:8px;
  padding:8px;
  border:1px solid blue;
  background-color:white;
  position: absolute;
  z-index: 2;
}

.svgcontainer {
  padding-right: 70px;
}
